* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #7fbbc5;
    --text-color: #000;
    --main-color: #00227f;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 90vh;
    padding: 10rem 9% 2rem;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem 5%;
    background: #f1f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar a {
    font-size: 1.4rem;
    color: var(--main-color);
    margin-left: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar a:hover, .navbar a.active {
    color: rgb(248, 103, 50);
}

.info{
   
    margin-top: 10%;
}

.info h1{
    font-size: 65px;
    color: var(--text-color);
}

.info h3{
    font-size: 18px;
    color: rgb(36, 32, 30);
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: rgb(248, 103, 50);
}

.logo span{
    color: rgb(248, 103, 50);
}

.image{
    width: 30%;
    height: 65%;
    position: absolute;
    right: 48px;
    bottom: 0;
}
.image img{
    position: absolute;
    height: 125%;
    left: 40px;
    transform: translate(-55%);
    bottom: 0;
    transition: left 3s ease;
    cursor: pointer;
}

.image:hover .pic{
    left: 55%;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 0.2rem solid;
    border-color: rgb(248, 103, 50);
    border-radius: 50%;
    font-size: 1.5rem;
    color: rgb(248, 103, 50);
    margin: 1.5rem 1rem 0;
    margin-top: 35px;
    transition: 0.3s ease;
}

.social-media a:hover{
    background-color: rgb(248, 103, 50);
    color: #fff;
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 0 25px rgb(248, 103, 50);
}


.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: rgb(252, 223, 212);
}

.about-img img{
    width: 25vw;
    border: 2px solid rgb(248, 103, 50);
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(248, 103, 50);
    cursor: pointer;
    transition: 0.4s ease;
}

.about-img img:hover{
    box-shadow: 0 0 25px rgb(248, 103, 50),
                0 0 35px rgb(248, 103, 50),
                0 0 45px rgb(248, 103, 50);
}

.heading{
    font-size: 5rem;
    text-align: center;
    padding-bottom: 20px;
}
.heading span{
    color: rgb(248, 103, 50);
}

.about-content{
    padding: 2.5rem;
}

.about-content p1, .about-content p2{
    font-size: 1.6rem;
    line-height: 2rem;
    color: rgb(36, 32, 30);
    margin: 2rem 0.3rem;
    font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
}
.about-content p1 span{
    font-weight: bold;
    color: rgb(248, 103, 50);
}

.contact h2{
    margin-bottom: 2.5rem;
    color: rgb(248, 103, 50);
}

.contact heading{
    text-align: center;
}

.contact form{
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: black;
    border: 0.25rem solid rgb(248, 103, 50);
    margin: 0.7rem 0;
    border-radius: 0.8rem;
    background: #fff;
    resize: none;
}

.contact form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn{
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    background: rgb(248, 103, 50);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.contact form .btn:hover{
    background: rgb(255, 121, 80);
    box-shadow: 0 0 15px rgb(255, 121, 80);
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(252, 223, 212);
}

.footer .socials{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(248, 103, 50);
}

.footer .socials a{
    font-size: 25px;
    color: rgb(248, 103, 50);
    border: 2px solid rgb(248, 103, 50);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .socials a:hover{
    background-color: rgb(248, 103, 50);
    color: #fff;
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 0 25px rgb(248, 103, 50);
}

.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}