* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #7fbbc5;
    --text-color: #000;
    --main-color: #00227f;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem 5%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.5s ease;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar a {
    font-size: 1rem;
    color: var(--main-color);
    margin-left: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar a:hover, .navbar a.active {
    color: rgb(248, 103, 50);
}

.info{
    margin-left: 3%;
    margin-top: 15%;
}

.info h1{
    font-size: 65px;
    color: var(--text-color);
}

.info h3{
    font-size: 18px;
    color: rgb(36, 32, 30);
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: rgb(248, 103, 50);
}

.image{
    width: 20%;
    height: 90%;
    position: absolute;
    right: 300px;
    bottom: 0;
}
.image pic{
    position: absolute;
    height: 100%;
    left: 40px;
    transform: translate(-50%);
    bottom: 0;
}