* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #7fbbc5;
    --text-color: #000;
    --main-color: #00227f;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem 5%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: all 0.5s ease;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar a {
    font-size: 1.1rem;
    color: var(--main-color);
    margin-left: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.navbar a:hover, .navbar a.active {
    color: var(--snd-bg-color);
}